.root {
  position: relative;

  @media (max-width: 1179px) {
    width: 20%;

    .input {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    margin-top: 10px;
    width: 70%;
    .input {
      width: 100%;
    }
  }
  @media (max-width: 570px) {
    margin-top: 10px;
    width: 90%;

    .input {
      width: 100%;
    }
  }
}

.icon {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 18px;
  height: 18px;
  opacity: 0.6;
}

.input {
  width: 300px;
  padding: 8px 35px;
  border: 1px solid rgba($color: #000, $alpha: 0.1);
  border-radius: 15px;
  font-size: 1em;
  cursor: pointer;

  &:focus {
    border: 1px solid rgba($color: #000, $alpha: 0.3);
  }
}

.clear {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 10px;
  top: 11px;
  opacity: 0.4;
  cursor: pointer;
}
